.comment-wrapper .panel-body {
  overflow:hidden;
}

.comment-wrapper .media-list .media img {
  width:64px;
  height:64px;
  border:2px solid #e5e7e8b2;
}

.comment-wrapper .media-list .media {
  border-bottom:2px dashed #efefefc7;
  margin-bottom:25px;
}