.comment-wrapper .panel-body {
  overflow:hidden;
}

.comment-wrapper .media-list .media img {
  width:64px;
  height:64px;
  border:2px solid #e5e7e8b2;
}

.comment-wrapper .media-list .media {
  border-bottom:2px dashed #efefefc7;
  margin-bottom:25px;
  .media-body{
    background-color: whitesmoke;
    padding: 10px 5px 0px 10px;
    border-radius: .25rem;
    position: relative;
  }
  .tip {
    width: 0px;
    height: 0px;
    position: absolute;
    background: transparent;
    border: 10px solid #343a40;
  }
  .tip-left {
    top: 15px;
    left: -25px;
    border-radius: 3px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;  
  }
}